<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Quiz</h1>
    <form action="" method="POST">
        {% for question in questions %}
        <p>{{ question.question }}</p>
        <ul>
            {% for option in question.options %}
            <li><input type="radio" name="{{ loop.index0 }}" value="{{ loop.index0 }}">{{ option }}</li>
            {% endfor %}
        </ul>
        <button type="button" class="explanation-button">Show Explanation</button>
        <div class="explanation" style="display: none;">
            <p>{{ question.explanation }}</p>
            <button type="button" class="more-explanation-button">More Explanation</button>
            <div class="more-explanation" style="display: none;">
                <p>{{ question.moreExplanation }}</p>
            </div>
        </div>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
    <script>
        const explanationButtons = document.querySelectorAll('.explanation-button');
        explanationButtons.forEach(button => {
            button.addEventListener('click', () => {
                const explanation = button.nextElementSibling;
                explanation.style.display = (explanation.style.display === 'block') ? 'none' : 'block';
            });
        });

        const moreExplanationButtons = document.querySelectorAll('.more-explanation-button');
        moreExplanationButtons.forEach(button => {
            button.addEventListener('click', () => {
                const moreExplanation = button.nextElementSibling;
                console.log(moreExplanation);  // Debugging line
                moreExplanation.style.display = (moreExplanation.style.display === 'block') ? 'none' : 'block';;
            });
        });
    </script>
</body>
</html>
